/* *{
  background-color: #2f2626;
  color: white;
  gap: 20px;
  flex-wrap: wrap;
}
.cardz{
  border-radius: 10px;
  color: white;
  background-color: #000000;
  cursor: pointer;
  text-align: center;
  width: 320px;
  height: 390px;
  padding: 20px;
  border: 4px solid rgb(76, 0, 255);
  box-shadow: #731d1d;

}
.btn{
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;

  
}

.cardz img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;


  
}
.cardz h1{
  padding: 10px 10px;
  background-color: #000000;
}
.cardz p{
  padding: 10px;
}
 */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Helvetica, sans-serif;
  /* color: #fff; */

}
html, body{
  height: 100%;
  width: 100%;
}

.cards-container{
  background-color: #111;
  /* min-height:100vh; */
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.card{
  height: 330px;
  width: 280px;
  border-radius: 30px ;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 2px;
  object-fit: cover;
  border: 1px solid #dadada;

}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1 ;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}
.bottom button{
  background-color: #111;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  column-width: 600;
}
.bottom h3{
  font-size: 18px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;

}

.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px  ;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  gap:5px;
  margin-top: 10px ;
}
.center .tag h4{
  font-size: 12px;
  background-color: #dadada ;
  color: black;
  padding: 3px 6px ;
  font-weight: 400;
  border-radius: 5px;
}
